<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!--1 开启事务注解扫描-->
    <mvc:annotation-driven/>
    <!--MVC注解-->
    <!--<mvc:annotation-driven/>-->

    <!--<context:annotation-config> 是用于激活那些已经在spring容器里注册过的bean（无论是通过xml的方式还是通过package sanning的方式）上面的注解。-->
    <!--<context:component-scan>除了具有<context:annotation-config>的功能之外，<context:component-scan>还可以在指定的package下扫描以及注册javabean-->

    <!--2 开启springioc 自动扫描注解包-->
    <context:component-scan base-package="com.qiuxx.shiro"/>
    
    <!--<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/qiuxx/users/**"/>
            <bean class="com.qiuxx.shiro.utils.MyAccessFilter"/>
        </mvc:interceptor>
    </mvc:interceptors>-->

    <!--3 配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>



</beans>